body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    display: flex;
    width: 100vw;
    background-color: #131313;
    height: 6rem;
}

.header__nav--container {
   width: 100vw;
   display: flex;
   align-items: center;
}

.nav__list {
    display: flex;
    width: 100vw;
}

.nav__list--item {
    color: white;
    display: flex;
    width: 33.333%;
    padding: 10px;
    flex: 1;
    transition: flex .8s;
    height: 6rem;
    justify-content: center;
    align-items: center;
    border-right: 1px solid white;
}

.nav__list--item:hover {
    flex: 4;
    cursor: pointer;
}


.main {
    display: flex;
    justify-content: space-around;
    height: inherit;    
    width: 100vw;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.main-title,
.main-subtitle {
    text-align: center;
}

p {
    width: 80%;
}

.footer {
    border-top: 3px solid white;
    background-color: #131313;
    color: white;
    display: flex;
    width: 100vw;
    margin-top: auto;
}